In [1]:
from selenium import webdriver
from PIL import Image
import requests
from io import BytesIO
import matplotlib.pyplot as plt

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW")

In [4]:
blocks = driver.find_elements("xpath" ,"//tbody/tr")

In [5]:
import pandas as pd
data = { "title":[] ,"lifeTime":[] , "Releasedate":[] }
df  = pd.DataFrame.from_dict(data)
df

Empty DataFrame
Columns: [title, lifeTime, Releasedate]
Index: []

In [11]:
i = 0
for block in blocks:
    if i!= 0 :
        title = block.find_element("xpath",".//td[@class=\"a-text-left mojo-field-type-title\"]/a ")
        print("name = " , title.text)
        

        lifeTime = block.find_element("xpath",".//td[@class=\"a-text-right mojo-field-type-money\"]")
        print("lifeTime = " , lifeTime.text)
        
        Releasedate = block.find_element("xpath",".//td[@class=\"a-text-left mojo-field-type-year\"]/a")
        print("Releasedate = " , Releasedate.text)
        
        df.loc[i] = [title.text , lifeTime.text ,Releasedate.text ]
    i+=1

name =  Avatar
lifeTime =  $2,923,706,026
Releasedate =  2009
name =  Avengers: Endgame
lifeTime =  $2,799,439,100
Releasedate =  2019
name =  Avatar: The Way of Water
lifeTime =  $2,320,250,281
Releasedate =  2022
name =  Titanic
lifeTime =  $2,264,743,305
Releasedate =  1997
name =  Star Wars: Episode VII - The Force Awakens
lifeTime =  $2,071,310,218
Releasedate =  2015
name =  Avengers: Infinity War
lifeTime =  $2,052,415,039
Releasedate =  2018
name =  Spider-Man: No Way Home
lifeTime =  $1,921,847,111
Releasedate =  2021
name =  Jurassic World
lifeTime =  $1,671,537,444
Releasedate =  2015
name =  The Lion King
lifeTime =  $1,663,075,401
Releasedate =  2019
name =  The Avengers
lifeTime =  $1,520,538,536
Releasedate =  2012
name =  Furious 7
lifeTime =  $1,515,341,399
Releasedate =  2015
name =  Top Gun: Maverick
lifeTime =  $1,495,696,292
Releasedate =  2022
name =  Frozen II
lifeTime =  $1,453,683,476
Releasedate =  2019
name =  Barbie
lifeTime =  $1,445,630,407
Releasedate =  2023
name =  Avengers: Age of Ultron
lifeTime =  $1,405,018,048
Releasedate =  2015
name =  Frozen
lifeTime =  $1,397,042,530
Releasedate =  2013
name =  The Super Mario Bros. Movie
lifeTime =  $1,361,939,570
Releasedate =  2023
name =  Harry Potter and the Deathly Hallows: Part 2
lifeTime =  $1,356,841,356
Releasedate =  2011
name =  Black Panther
lifeTime =  $1,349,926,083
Releasedate =  2018
name =  Star Wars: Episode VIII - The Last Jedi
lifeTime =  $1,334,407,706
Releasedate =  2017
name =  Jurassic World: Fallen Kingdom
lifeTime =  $1,310,466,296
Releasedate =  2018
name =  Beauty and the Beast
lifeTime =  $1,266,115,964
Releasedate =  2017
name =  Incredibles 2
lifeTime =  $1,243,225,667
Releasedate =  2018
name =  The Fate of the Furious
lifeTime =  $1,236,005,118
Releasedate =  2017
name =  Iron Man 3
lifeTime =  $1,215,577,205
Releasedate =  2013
name =  Minions
lifeTime =  $1,159,444,662
Releasedate =  2015
name =  The Lord of the Rings: The Return of the King
lifeTime =  $1,156,194,180
Releasedate =  2003
name =  Captain America: Civil War
lifeTime =  $1,155,046,416
Releasedate =  2016
name =  Aquaman
lifeTime =  $1,152,028,393
Releasedate =  2018
name =  Skyfall
lifeTime =  $1,142,471,295
Releasedate =  2012
name =  Spider-Man: Far from Home
lifeTime =  $1,131,927,996
Releasedate =  2019
name =  Captain Marvel
lifeTime =  $1,131,416,446
Releasedate =  2019
name =  Transformers: Dark of the Moon
lifeTime =  $1,123,794,079
Releasedate =  2011
name =  Jurassic Park
lifeTime =  $1,114,429,886
Releasedate =  1993
name =  The Dark Knight Rises
lifeTime =  $1,114,085,030
Releasedate =  2012
name =  Transformers: Age of Extinction
lifeTime =  $1,104,054,072
Releasedate =  2014
name =  Joker
lifeTime =  $1,078,958,282
Releasedate =  2019
name =  Star Wars: Episode IX - The Rise of Skywalker
lifeTime =  $1,077,022,372
Releasedate =  2019
name =  Toy Story 4
lifeTime =  $1,073,841,394
Releasedate =  2019
name =  Toy Story 3
lifeTime =  $1,067,316,101
Releasedate =  2010
name =  Pirates of the Caribbean: Dead Man's Chest
lifeTime =  $1,066,179,747
Releasedate =  2006
name =  Rogue One: A Star Wars Story
lifeTime =  $1,058,682,142
Releasedate =  2016
name =  Aladdin
lifeTime =  $1,054,304,000
Releasedate =  2019
name =  Pirates of the Caribbean: On Stranger Tides
lifeTime =  $1,046,721,266
Releasedate =  2011
name =  Despicable Me 3
lifeTime =  $1,034,800,131
Releasedate =  2017
name =  Finding Dory
lifeTime =  $1,029,266,989
Releasedate =  2016
name =  The Dark Knight
lifeTime =  $1,029,266,147
Releasedate =  2008
name =  Star Wars: Episode I - The Phantom Menace
lifeTime =  $1,027,082,707
Releasedate =  1999
name =  Zootopia
lifeTime =  $1,025,521,689
Releasedate =  2016
name =  Alice in Wonderland
lifeTime =  $1,025,468,216
Releasedate =  2010
name =  Harry Potter and the Sorcerer's Stone
lifeTime =  $1,024,264,477
Releasedate =  2001
name =  The Hobbit: An Unexpected Journey
lifeTime =  $1,017,030,651
Releasedate =  2012
name =  Jurassic World Dominion
lifeTime =  $1,001,978,080
Releasedate =  2022
name =  Jumanji: Welcome to the Jungle
lifeTime =  $995,339,117
Releasedate =  2017
name =  Harry Potter and the Deathly Hallows: Part 1
lifeTime =  $972,584,232
Releasedate =  2010
name =  Despicable Me 2
lifeTime =  $970,766,005
Releasedate =  2013
name =  The Lion King
lifeTime =  $968,511,805
Releasedate =  1994
name =  The Jungle Book
lifeTime =  $967,724,775
Releasedate =  2016
name =  The Hobbit: The Battle of the Five Armies
lifeTime =  $962,201,338
Releasedate =  2014
name =  Pirates of the Caribbean: At World's End
lifeTime =  $961,691,209
Releasedate =  2007
name =  The Hobbit: The Desolation of Smaug
lifeTime =  $959,027,992
Releasedate =  2013
name =  Doctor Strange in the Multiverse of Madness
lifeTime =  $955,775,804
Releasedate =  2022
name =  Oppenheimer
lifeTime =  $952,039,870
Releasedate =  2023
name =  The Lord of the Rings: The Two Towers
lifeTime =  $948,945,489
Releasedate =  2002
name =  Finding Nemo
lifeTime =  $941,637,960
Releasedate =  2003
name =  Minions: The Rise of Gru
lifeTime =  $940,203,765
Releasedate =  2022
name =  Harry Potter and the Order of the Phoenix
lifeTime =  $939,288,806
Releasedate =  2007
name =  Harry Potter and the Half-Blood Prince
lifeTime =  $934,770,304
Releasedate =  2009
name =  Shrek 2
lifeTime =  $928,961,330
Releasedate =  2004
name =  Harry Potter and the Chamber of Secrets
lifeTime =  $926,201,000
Releasedate =  2002
name =  Bohemian Rhapsody
lifeTime =  $910,809,311
Releasedate =  2018
name =  The Battle at Lake Changjin
lifeTime =  $902,548,476
Releasedate =  2021
name =  Harry Potter and the Goblet of Fire
lifeTime =  $897,048,648
Releasedate =  2005
name =  Spider-Man 3
lifeTime =  $894,983,373
Releasedate =  2007
name =  The Secret Life of Pets
lifeTime =  $894,567,999
Releasedate =  2016
name =  Ice Age: Dawn of the Dinosaurs
lifeTime =  $886,686,817
Releasedate =  2009
name =  The Lord of the Rings: The Fellowship of the Ring
lifeTime =  $883,407,846
Releasedate =  2001
name =  Spectre
lifeTime =  $880,705,312
Releasedate =  2015
name =  Spider-Man: Homecoming
lifeTime =  $880,166,924
Releasedate =  2017
name =  Ice Age: Continental Drift
lifeTime =  $877,244,782
Releasedate =  2012
name =  Batman v Superman: Dawn of Justice
lifeTime =  $874,362,803
Releasedate =  2016
name =  Wolf Warrior 2
lifeTime =  $870,325,439
Releasedate =  2017
name =  Star Wars: Episode III - Revenge of the Sith
lifeTime =  $868,390,560
Releasedate =  2005
name =  The Hunger Games: Catching Fire
lifeTime =  $865,011,746
Releasedate =  2013
name =  Guardians of the Galaxy Vol. 2
lifeTime =  $863,756,051
Releasedate =  2017
name =  Black Panther: Wakanda Forever
lifeTime =  $859,208,836
Releasedate =  2022
name =  Inside Out
lifeTime =  $858,848,019
Releasedate =  2015
name =  Venom
lifeTime =  $856,085,151
Releasedate =  2018
name =  Thor: Ragnarok
lifeTime =  $855,301,806
Releasedate =  2017
name =  The Twilight Saga: Breaking Dawn - Part 2
lifeTime =  $848,593,948
Releasedate =  2012
name =  Guardians of the Galaxy Vol. 3
lifeTime =  $845,555,777
Releasedate =  2023
name =  Inception
lifeTime =  $839,030,630
Releasedate =  2010
name =  Transformers: Revenge of the Fallen
lifeTime =  $836,303,693
Releasedate =  2009
name =  Spider-Man
lifeTime =  $825,025,036
Releasedate =  2002
name =  Wonder Woman
lifeTime =  $823,970,682
Releasedate =  2017
name =  Hi, Mom
lifeTime =  $822,009,764
Releasedate =  2021
name =  Independence Day
lifeTime =  $817,400,891
Releasedate =  1996
name =  Fantastic Beasts and Where to Find Them
lifeTime =  $816,037,575
Releasedate =  2016
name =  Coco
lifeTime =  $814,337,054
Releasedate =  2017
name =  Shrek the Third
lifeTime =  $813,367,380
Releasedate =  2007
name =  Harry Potter and the Prisoner of Azkaban
lifeTime =  $807,040,707
Releasedate =  2004
name =  Jumanji: The Next Level
lifeTime =  $801,693,929
Releasedate =  2019
name =  Pirates of the Caribbean: Dead Men Tell No Tales
lifeTime =  $795,922,298
Releasedate =  2017
name =  E.T. the Extra-Terrestrial
lifeTime =  $792,910,554
Releasedate =  1982
name =  Mission: Impossible - Fallout
lifeTime =  $791,657,398
Releasedate =  2018
name =  2012
lifeTime =  $791,217,826
Releasedate =  2009
name =  Indiana Jones and the Kingdom of the Crystal Skull
lifeTime =  $790,653,942
Releasedate =  2008
name =  Spider-Man 2
lifeTime =  $788,976,453
Releasedate =  2004
name =  Fast & Furious 6
lifeTime =  $788,680,968
Releasedate =  2013
name =  Deadpool 2
lifeTime =  $785,896,609
Releasedate =  2018
name =  Deadpool
lifeTime =  $782,836,791
Releasedate =  2016
name =  Star Wars: Episode IV - A New Hope
lifeTime =  $775,398,007
Releasedate =  1977
name =  No Time to Die
lifeTime =  $774,153,007
Releasedate =  2021
name =  Guardians of the Galaxy
lifeTime =  $773,350,147
Releasedate =  2014
name =  Gravity
lifeTime =  $773,031,583
Releasedate =  2013
name =  The Batman
lifeTime =  $772,245,583
Releasedate =  2022
name =  Thor: Love and Thunder
lifeTime =  $760,928,081
Releasedate =  2022
name =  Fast & Furious Presents: Hobbs & Shaw
lifeTime =  $760,732,926
Releasedate =  2019
name =  The Da Vinci Code
lifeTime =  $760,006,945
Releasedate =  2006
name =  Maleficent
lifeTime =  $759,853,685
Releasedate =  2014
name =  The Amazing Spider-Man
lifeTime =  $757,930,663
Releasedate =  2012
name =  The Hunger Games: Mockingjay - Part 1
lifeTime =  $755,357,103
Releasedate =  2014
name =  Shrek Forever After
lifeTime =  $752,600,867
Releasedate =  2010
name =  Suicide Squad
lifeTime =  $749,200,054
Releasedate =  2016
name =  Madagascar 3: Europe's Most Wanted
lifeTime =  $746,921,274
Releasedate =  2012
name =  X-Men: Days of Future Past
lifeTime =  $746,045,700
Releasedate =  2014
name =  The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
lifeTime =  $745,013,115
Releasedate =  2005
name =  Monsters University
lifeTime =  $743,559,645
Releasedate =  2013
name =  The Matrix Reloaded
lifeTime =  $741,847,937
Releasedate =  2003
name =  Up
lifeTime =  $735,099,102
Releasedate =  2009
name =  Interstellar
lifeTime =  $731,079,637
Releasedate =  2014
name =  Ne Zha
lifeTime =  $726,264,074
Releasedate =  2019
name =  F9: The Fast Saga
lifeTime =  $726,229,501
Releasedate =  2021
name =  Captain America: The Winter Soldier
lifeTime =  $714,421,503
Releasedate =  2014
name =  The Twilight Saga: Breaking Dawn - Part 1
lifeTime =  $712,205,856
Releasedate =  2011
name =  The Twilight Saga: New Moon
lifeTime =  $711,025,481
Releasedate =  2009
name =  Dawn of the Planet of the Apes
lifeTime =  $710,644,566
Releasedate =  2014
name =  Transformers
lifeTime =  $709,709,780
Releasedate =  2007
name =  The Amazing Spider-Man 2
lifeTime =  $708,982,323
Releasedate =  2014
name =  Fast X
lifeTime =  $704,875,015
Releasedate =  2023
name =  It
lifeTime =  $704,242,551
Releasedate =  2017
name =  The Wandering Earth
lifeTime =  $699,992,512
Releasedate =  2019
name =  The Twilight Saga: Eclipse
lifeTime =  $698,509,825
Releasedate =  2010
name =  The Hunger Games
lifeTime =  $695,220,619
Releasedate =  2012
name =  Mission: Impossible - Ghost Protocol
lifeTime =  $694,713,380
Releasedate =  2011
name =  Mamma Mia!
lifeTime =  $694,640,739
Releasedate =  2008
name =  Spider-Man: Across the Spider-Verse
lifeTime =  $690,516,673
Releasedate =  2023
name =  Moana
lifeTime =  $687,228,908
Releasedate =  2016
name =  Detective Chinatown 3
lifeTime =  $686,257,563
Releasedate =  2021
name =  Mission: Impossible - Rogue Nation
lifeTime =  $682,716,636
Releasedate =  2015
name =  Forrest Gump
lifeTime =  $678,226,465
Releasedate =  1994
name =  Doctor Strange
lifeTime =  $677,796,076
Releasedate =  2016
name =  The Sixth Sense
lifeTime =  $672,806,432
Releasedate =  1999
name =  Man of Steel
lifeTime =  $670,145,518
Releasedate =  2013
name =  Ice Age: The Meltdown
lifeTime =  $667,094,506
Releasedate =  2006
name =  Kung Fu Panda 2
lifeTime =  $665,692,281
Releasedate =  2011
name =  The Hunger Games: Mockingjay - Part 2
lifeTime =  $661,456,563
Releasedate =  2015
name =  Justice League
lifeTime =  $661,326,987
Releasedate =  2017
name =  Big Hero 6
lifeTime =  $657,869,686
Releasedate =  2014
name =  Fantastic Beasts: The Crimes of Grindelwald
lifeTime =  $655,755,901
Releasedate =  2018
name =  Pirates of the Caribbean: The Curse of the Black Pearl
lifeTime =  $654,264,015
Releasedate =  2003
name =  Men in Black 3
lifeTime =  $654,213,485
Releasedate =  2012
name =  Star Wars: Episode II - Attack of the Clones
lifeTime =  $653,779,970
Releasedate =  2002
name =  Thor: The Dark World
lifeTime =  $644,783,140
Releasedate =  2013
name =  Sing
lifeTime =  $634,338,384
Releasedate =  2016
name =  Kung Fu Panda
lifeTime =  $632,083,197
Releasedate =  2008
name =  The Incredibles
lifeTime =  $631,684,650
Releasedate =  2004
name =  The Martian
lifeTime =  $630,620,818
Releasedate =  2015
name =  Hancock
lifeTime =  $629,443,428
Releasedate =  2008
name =  Water Gate Bridge
lifeTime =  $626,571,697
Releasedate =  2022
name =  Fast Five
lifeTime =  $626,137,675
Releasedate =  2011
name =  Iron Man 2
lifeTime =  $623,933,331
Releasedate =  2010
name =  Ratatouille
lifeTime =  $623,726,085
Releasedate =  2007
name =  Ant-Man and the Wasp
lifeTime =  $622,674,139
Releasedate =  2018
name =  How to Train Your Dragon 2
lifeTime =  $621,537,519
Releasedate =  2014
name =  Logan
lifeTime =  $619,179,950
Releasedate =  2017
name =  The Lost World: Jurassic Park
lifeTime =  $618,638,999
Releasedate =  1997
name =  Casino Royale
lifeTime =  $616,505,162
Releasedate =  2006
name =  The Passion of the Christ
lifeTime =  $612,054,506
Releasedate =  2004
name =  Life of Pi
lifeTime =  $609,016,565
Releasedate =  2012
name =  Ready Player One
lifeTime =  $607,874,134
Releasedate =  2018
name =  Transformers: The Last Knight
lifeTime =  $605,425,157
Releasedate =  2017
name =  Madagascar: Escape 2 Africa
lifeTime =  $603,900,354
Releasedate =  2008
name =  War of the Worlds
lifeTime =  $603,873,119
Releasedate =  2005
name =  Tangled
lifeTime =  $592,462,816
Releasedate =  2010
name =  Quantum of Solace
lifeTime =  $589,580,482
Releasedate =  2008
name =  Men in Black
lifeTime =  $589,390,539
Releasedate =  1997
name =  The Croods
lifeTime =  $587,235,983
Releasedate =  2013
name =  The Hangover Part II
lifeTime =  $586,764,305
Releasedate =  2011
name =  Iron Man
lifeTime =  $585,796,247
Releasedate =  2008
name =  I Am Legend
lifeTime =  $585,410,052
Releasedate =  2007
name =  Monsters, Inc.
lifeTime =  $579,707,738
Releasedate =  2001
name =  Operation Red Sea
lifeTime =  $579,330,426
Releasedate =  2018
name =  Night at the Museum
lifeTime =  $574,481,229
Releasedate =  2006
name =  Fifty Shades of Grey
lifeTime =  $569,651,467
Releasedate =  2015
name =  The Little Mermaid
lifeTime =  $569,626,289
Releasedate =  2023
name =  Kong: Skull Island
lifeTime =  $568,652,812
Releasedate =  2017
name =  Mission: Impossible - Dead Reckoning Part One
lifeTime =  $567,535,383
Releasedate =  2023
name =  The Smurfs
lifeTime =  $563,749,323
Releasedate =  2011
name =  Cars 2
lifeTime =  $559,852,396
Releasedate =  2011

In [12]:
df

                                             title        lifeTime Releasedate
1                                           Avatar  $2,923,706,026        2009
2                                Avengers: Endgame  $2,799,439,100        2019
3                         Avatar: The Way of Water  $2,320,250,281        2022
4                                          Titanic  $2,264,743,305        1997
5       Star Wars: Episode VII - The Force Awakens  $2,071,310,218        2015
..                                             ...             ...         ...
196                             The Little Mermaid    $569,626,289        2023
197                             Kong: Skull Island    $568,652,812        2017
198  Mission: Impossible - Dead Reckoning Part One    $567,535,383        2023
199                                     The Smurfs    $563,749,323        2011
200                                         Cars 2    $559,852,396        2011

[200 rows x 3 columns]

In [13]:
df.to_csv("mycsv2.csv")